<div class="p-4">
    <div class="container">
        <h1>Usuario</h1>
        <a routerLink="add" class="btn btn-sm btn-success mb-2">Crear usuario</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 90%">Email</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody> 
                <tr *ngFor="let user of users['users']">
                    <td>{{user.email}}</td>
                    <td style="white-space: nowrap">
                        <!--<a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary me-1">Edit</a>-->
                        <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger" style="width: 58px" [disabled]="isDeleting">
                            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!isDeleting">Borrar</span>
                        </button>
                   
                    </td>
                </tr>

                <tr *ngIf="!users">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>