<div class="p-4">
    <div class="container">
        <h1>Empleados</h1>
        <a routerLink="add" class="btn btn-sm btn-success mb-2">Adicionar Empleado</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">razonSocial</th>
                    <th style="width: 30%">telefono</th>
                    <th style="width: 30%">email</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subsidiary of subsidiaries['subsidiarias']">
                    <td>{{subsidiary.razonSocial}}</td>
                    <td>{{subsidiary.telefono}}</td>
                    <td>{{subsidiary.email}}</td>
                    <td style="white-space: nowrap">
 
                        <a routerLink="edit/{{subsidiary.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                        <button (click)="deleteEmployee(subsidiary.id)" class="btn btn-sm btn-danger" style="width: 58px" [disabled]="isDeleting">
                            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!isDeleting">Delete</span>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!subsidiaries">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>