<div class="p-4">
    <div class="container">
        <h1>Empleados</h1>
        <a routerLink="add" class="btn btn-sm btn-success mb-2">Adicionar Empleado</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Nombre</th>
                    <th style="width: 30%">Documento de indentidad</th>
                    <th style="width: 30%">Fecha de Contratación</th>
                    <th style="width: 30%">Puesto</th>
                    <th style="width: 30%">Oficina</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees['empleados']">
                    <td>{{employee.nombre}}</td>
                    <td>{{employee.cedula}}</td>
                    <td>{{employee.fechaContratacion}}</td>
                    <td>{{employee.puesto}}</td>
                    <td>{{employee.oficina}}</td>
                    <td style="white-space: nowrap">
 
                        <a routerLink="edit/{{employee.id}}" class="btn btn-sm btn-primary me-1">Editar</a>
                        <button (click)="deleteEmployee(employee.id)" class="btn btn-sm btn-danger" style="width: 58px" [disabled]="isDeleting">
                            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!isDeleting">Borrar</span>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!employees">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>